language: ruby
script: "./script/cibuild"

before_script:
  - git config --global user.email "you@example.com"
  - git config --global user.name "Your Name"

sudo: false
cache: bundler

env:
  global:
    - GITHUB_CLIENT_ID=FOO
    - GITHUB_CLIENT_SECRET=BAR
    - GITHUB_ORG_ID="balter-test-org"
